.button {
    padding: 1rem;
    
    background: var(--blue-dark);
    border: 0;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    font-size: 0.875rem;
    font-weight: 700;
    color: var(--gray-100);
}